* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #3f51b5, #2196f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;}

.contact-section {
    width: 100%;
    padding: 20px;
}

.contact-box {
    width: 500px;
    padding: 40px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    animation: slideIn 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    opacity: 0.8;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    font-size: 16px;
    resize: none;
}

.input-group label {
    position: absolute;
    left: 0;
    top: 12px;
    color: #fff;
    pointer-events: none;
    transition: 0.3s;
    opacity: 0.7;
}

.input-group input:focus+label,
.input-group input:valid+label,
.input-group textarea:focus+label,
.input-group textarea:valid+label {
    top: -12px;
    font-size: 14px;
    color: #ffeb3b;
    opacity: 1;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #ffeb3b;
    color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    font-weight: 600;
}

.btn:hover {
    background: #fff;
    transform: translateY(-3px);
}

#successMsg {
    margin-top: 15px;
    color: #0f0;
    font-size: 16px;
    display: none;
}